course2/trunk/ws-tutorial/src/main/resources/OrderService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.skcc.com/tutorial/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderService" targetNamespace="http://www.skcc.com/tutorial/ws/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.skcc.com/tutorial/ws/">
      <xsd:element name="orderId" type="xsd:string">
      </xsd:element>
      <xsd:element name="order" type="tns:OrderType">
      </xsd:element>
    
      <xsd:complexType name="OrderType">
      	<xsd:sequence>
      		<xsd:element name="orderId" type="xsd:string"></xsd:element>


      		<xsd:element name="orderItems" type="tns:OrderItemType" maxOccurs="unbounded" minOccurs="0"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="OrderItemType">
      	<xsd:sequence>
      		<xsd:element name="productId" type="xsd:string"></xsd:element>
      		<xsd:element name="quantity" type="xsd:int"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
        
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findOrderRequest">
    <wsdl:part name="orderId" element="tns:orderId" />
  </wsdl:message>
  <wsdl:message name="findOrderResponse">
    <wsdl:part element="tns:order" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="placeOrderRequest">
  	<wsdl:part name="order" element="tns:order"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="placeOrderResponse">
  	<wsdl:part name="orderId" element="tns:orderId"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderService">
    <wsdl:operation name="findOrder">
      <wsdl:input message="tns:findOrderRequest"/>
      <wsdl:output message="tns:findOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="placeOrder">
    	<wsdl:input message="tns:placeOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:placeOrderResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderServiceSOAP" type="tns:OrderService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findOrder">
      <soap:operation soapAction="http://www.skcc.com/tutorial/ws/findOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderService">
    <wsdl:port binding="tns:OrderServiceSOAP" name="OrderServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
